:root {
    /* --color-azure: #64ffda;
    --color-storm: #a4c9d8;
    --color-storm: #0a192f;
    --color-tangerine: #ff4935;
    --color-citric: #cdf567;
    --color-sunflower: #ffbc4b;
    --color-pink: #ffd0d5;
    --color-salmon: #fb7ea8;
    --color-factory-yellow: #ffe818;
    --color-white: #fff;
    --color-item-alt: #494d54; */

    --bg: #0a192f;
    --color-black: #171313;
    --color-item-alt: #494d54;
    --primary-color: #ccd6f6;
    --heading-color: #e6f1ff;
    --link-color: #64ffda;
    --tertiary-color: #172a45;
    --tertiary-color: #112340;
    --prism-bg: #020c1b;
}

body{
    background-color: var(--bg);
    cursor: none;
}

.decolines {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.decolines--fixed {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.decoline {
	position: absolute;
}

